<app-navbar></app-navbar>

<div class="container-fluid">
    <!-- Título -->
    <div class="row">
        <div class="col-md-12">
            <br>
            <h4 class="text-default fw-bold text-center">Verificación Documentos Estudiantiles</h4>
            <hr class="border-primary">
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <!-- Dropdown List de estatus y el botón de búsqueda a la izquierda -->
        <div class="col-md-8 text-start mb-4 d-flex align-items-center">
            <!-- Dropdown List de estatus -->
            <select class="form-select me-2 shadow-sm rounded-pill" style="width: 400px;" [(ngModel)]="selectedStatus">
                <option value="" disabled selected>Seleccionar estatus</option>
                <option [value]="0">Nueva</option>
                <option [value]="1">Devuelta</option>
                <option [value]="2">Validada</option>
                <option [value]="3">Corregida</option>
                <option [value]="4">Completada</option>
            </select>
            
            <!-- Botón de búsqueda -->
            <button type="button" class="btn btn-primary btn-md shadow-sm rounded-pill px-4" (click)="getRequest(selectedStatus)">
                <i class="fas fa-search me-2"></i> Buscar
            </button>
        </div>
    
        <!-- Campo de búsqueda de usuario a la derecha (sin modificar) -->
        <div class="col-md-4 text-end mb-4">
            <input type="text" id="searchInput" placeholder="Buscar usuario..." class="form-control rounded-pill shadow-sm" (keyup)="searchTable()"/>
        </div>
    </div>
    <!-- Tabla de usuarios con límite de 10 registros y scroll -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive bg-light rounded shadow p-4" style="max-height: 600px; overflow-y: auto;">
                <!-- Estilo scroll -->
                <table class="table align-middle mb-0 bg-white table-hover table-bordered rounded shadow-sm"
                    id="userTable">
                    <thead class="bg-primary text-white text-uppercase">
                        <tr>
                            <th hidden>Id</th> 
                            <th>Codigo estudiante</th>
                            <th>Nombres</th>
                            <th>Solicitud</th>
                            <th>Tipo solicitud</th>
                            <th>Estatus solicitud</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isLoading">
                            <td colspan="7" class="text-center text-muted">No hay registro para mostrar...</td>
                        </tr>
                        <tr *ngFor="let re of request" class="align-middle">

                            <td hidden>{{ re.id }}</td> 
                            <td>
                                <p class="fw-bold mb-1">{{ re.studentIdentification }}</p>
                            </td>

                            <td>{{ re.studentName }}</td>
                            <td>{{ re.serviceName }}</td>
                            <td>{{ re.serviceType }}</td>
                            <td>{{ re.status }}</td>
                            <td class="text-center">
                                <button type="button"
                                    class="btn btn-secondary btn-sm rounded-pill shadow-sm px-3" (click)="modalReception(re)">Verificar <i class="fas fa-check-circle me-2"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="row">
        <div class="col-md-12 text-center mt-4 mb-2">
            <footer class="footer text-white py-3 rounded">
                <p class="mb-0">&copy; 2024 Todos los derechos reservados.</p>
            </footer>
        </div>
    </div>
</div>